<div>
  <div>
    <h1>
      List of <%= @current_user.username.capitalize %>'s Bookmarks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bookmark
    </h2>
<form action="/insert_bookmark" method="post">
          <div>
        <label for="airport_id_box">
          Airport
        </label>

        <select name="query_airport_id" id="airport_id_box">
        <% Airport.all.each do |a_airport|%>
        <option value = "<%= a_airport.id %>">
        <%= a_airport.code%>
        </option>
        <% end %>
        </select>
      </div>

      <button type="submit" class="btn btn-secondary">
        Bookmark this airport!
      </button>

    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Airport
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
      <tr>

        <td>
        <% an_airport = Airport.where({ :id => a_bookmark.airport_id }).at(0) %>
        <a href="/airports/<%= an_airport.id %>">
          <%= an_airport.code %>
        </td>

        <td>
          <%= time_ago_in_words(a_bookmark.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_bookmark.updated_at) %> ago
        </td>

        <td>
          <a href="/delete_bookmark/<%= a_bookmark.id %>">
            Delete Bookmark
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
