<div>
  <div>
    <h1>
      List of all airports
    </h1>
  </div>
</div>
 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Waittime</th>
      <th scope="col">Updated at</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
      <% @list_of_airports.each do |an_airport| %>
    <tr>
     <td><%= an_airport.code %></td>
     <td><%= an_airport.name %></td>
     <td><%= an_airport.city %></td>
     <td> <%= an_airport.state %></td>
     <td><%= an_airport.waittime %></td>
     <td> <%= time_ago_in_words(an_airport.updated_at) %> ago</td>
     <td> <a href="/airports/<%= an_airport.id %>">
            Show details </a></td>
</tr> 

      <% end %>
      </tbody>
      </table>




<hr>

<div>
  <div>
    <h2>
      Add a new airport
    </h2>

    <form action="/insert_airport" method="post">
      <div>
        <label for="code_box">
          Code
        </label>

        <input type="text" id="code_box" name="query_code">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state">
      </div>


      </div>

      <div>
        <label for="waittime_box">
          Waittime
        </label>

        <input type="time" id="waittime_box" name="query_waittime">
      </div>

      <button type="submit" class="btn btn-primary">
        Add airport
      </button>
    </form>
  </div>
</div>




</hr>
