<div>
  <div>
    <h1>
      List of all airports
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new airport
    </h2>

    <form action="/insert_airport" method="post">
      <div>
        <label for="code_box">
          Code
        </label>

        <input type="text" id="code_box" name="query_code">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city">
      </div>

      <div>
        <label for="state_box">
          State
        </label>

        <input type="text" id="state_box" name="query_state">
      </div>

      <div>
        <label for="lat_box">
          Lat
        </label>

        <input type="text" id="lat_box" name="query_lat">
      </div>

      <div>
        <label for="long_box">
          Long
        </label>

        <input type="text" id="long_box" name="query_long">
      </div>


      </div>

      <div>
        <label for="waittime_box">
          Waittime
        </label>

        <input type="time" id="waittime_box" name="query_waittime">
      </div>

      <button type="submit" class="btn btn-primary">
        Create airport
      </button>
    </form>
  </div>
</div>

<hr>
<div class="container">
  <div class="row">
    <div class="col"> <h4>
          ID </h4>
         </div>
    <div class="col"> <h4>
          Code </h4>
        </div>
    <div class="col"> <h4>
          Name </h4>
       </div>
    <div class="col"> <h4>
          City </h4>
    </div>
    <div class="col"> <h4>
          State </h4>
      </div>
    <div class="col"> <h4>
          Lat </h4>
    </div>
    <div class="col"> <h4>
          Long </h4>
       </div>
    <div class="col"> <h4>
          Waittime </h4>
       </div>

    <div class="col"> <h4>
          Updated at </h4>
      </div>
        <div class="col"> <h4>
         Details </h4>
      </div>
 </div>
</div>

      <div class="container">
       <div class="row">
     
      <% @list_of_airports.each do |an_airport| %>

    <div class="col">
          <%= an_airport.id %>
        </div>
    <div class="col">
          <%= an_airport.code %>
         </div>
    <div class="col">
          <%= an_airport.name %>
        </div>
    <div class="col">
          <%= an_airport.city %>
        </div>
    <div class="col">
          <%= an_airport.state %>
        </div>
    <div class="col">
          <%= an_airport.lat %>
        </div>
    <div class="col">
          <%= an_airport.long %>
        </div>
    <div class="col">
          <%= an_airport.waittime %>
        </div>

    <div class="col">
          <%= time_ago_in_words(an_airport.updated_at) %> ago
         </div>
    <div class="col">
          <a href="/airports/<%= an_airport.id %>">
            Show details </a>
          </div>
          </div>
          
         

      <% end %>



</hr>
