<div>
  <div>
    <h1>
      <%= @the_airport.name %> Details
    </h1>


    <div>
      <div>
        <a href="/airports">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_airport/<%= @the_airport.id %>">
          Delete airport
        </a>
      </div>
    </div>
     <% if @current_user != nil %>
      <% current_user_bookmarks = @current_user.bookmarks.where({ :airport_id => @the_airport.id }) %>

      <% the_bookmark = current_user_bookmarks.at(0) %>

      <% if the_bookmark == nil %>
        <form action="/insert_bookmark" method="post">      
          <input type="hidden" name="query_airport_id" value="<%= @the_airport.id %>">

          <button type="submit" class="btn btn-secondary">Bookmark this airport!</button>
        </form>
      <% else %>
        <a href="/delete_bookmark/<%= the_bookmark.id %>">
          Un-bookmark
        </a>
      <% end %>
    <% end %>

 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Waittime</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated at</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td><%= @the_airport.code %></td>
     <td><%= @the_airport.name %></td>
     <td><%= @the_airport.city %></td>
     <td> <%= @the_airport.state %></td>
     <td><%= @the_airport.waittime %></td>
     <td><%= time_ago_in_words(@the_airport.created_at) %> ago </td>
     <td> <%= time_ago_in_words(@the_airport.updated_at) %> ago</td>
  
</tr> 

      </tbody>
      </table>



<div>
  <div>
    <h2>
      Edit waittime
    </h2>

    <form action="/modify_airport/<%= @the_airport.id %>"  method="post" >
      <div>
       
        <label for="waittime_box">
          Waittime
        </label>

        <input type="time" id="waittime_box" name="query_waittime" value="<%= @the_airport.waittime %>">
      </div>

      <button type="submit" class="btn btn-primary">
        Update airport
      </button>
    </form>
  </div>
</div>



<hr>
